<div class="container-fluid pt-2">
  <div class="row align-items-center">
    <div
      class="col-lg-4 col-12 d-flex justify-content-lg-start justify-content-center"
    >
      <div class="ps-0 ps-lg-3 mb-5 ms-5">
        <a
          href="https://www.instagram.com/starwars/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img class="me-3 icon-hover" src="/icons/insta.svg" alt="Instagram" />
        </a>
        <a
          href="https://www.facebook.com/starwars.es/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="me-3 icon-hover"
            src="/icons/facebook.svg"
            alt="Facebook"
          />
        </a>
        <a
          href="https://www.twitter.com/starwarsES/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img class="me-3 icon-hover" src="/icons/twitter.svg" alt="Twitter" />
        </a>
        <a href="https://www.youtube.com/@StarWars" target="_blank" rel="noopener noreferrer">
          <img class="me-3 icon-hover" src="/icons/youtube.svg" alt="YouTube" />
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-center">
      <div class="logo">
        <img src="/assets/star.png" alt="LogoStarWars" />
      </div>
    </div>

    <div
      class="col-lg-4 col-12 d-flex justify-content-lg-end justify-content-center"
    >
      <div>
        <button class="btn" routerLink="/login">LOGIN</button>
      </div>
      <div>
        <button class="btn">LOGOUT</button>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
