<div>
  <audio #backgroundMusic loop>
    <source src="assets/Starwars.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <div class="audio-controls">
    <button (click)="playMusic()">▶ Play</button>
    <button (click)="pauseMusic()">⏸ Pause</button>
  </div>
</div>

    <div id="starWarsCarousel" class="carousel slide" data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="star-wars-opening">
             <h1 class="title">STAR WARS</h1>
            <div class="crawl">
              <p><b>EPISODE VII</b></p>
              <p>THE NEW HOPE</p>
  
              <p>It is a time of great opportunity.</p>
              <p>The galaxy of tech is expanding,</p>
              <p> and brave students from IT Academy embark </p>
              <p>on a journey to master the FORCE of coding.</p>
              <p>Guided by the mentors of knowledge</p>
              <p>they dive into the worlds of Angular,</p>
              <p>testing with Jest, and modern frameworks,</p>
              <p>facing the challenges of bugs and deployment.</p>
              <p>Their mission:</p>
              <p>to conquer the front-end universe.</p>
              <p>and restore balance to their Git repositories</p>
              <p>Will they succeed?</p>
              <p>Only time will tell...</p>
            </div>
          </div>
        </div>
  
        
        <div class="carousel-item image-slide">
          <img src="/assets/darth-vader.jpg" class="d-block w-100" alt="darth-vader" />
        </div>
        <div class="carousel-item image-slide">
          <img
            src="/assets/chewbacca2.webp"
            class="d-block w-100"
            alt="chewbacca"
          />
        </div>
        <div class="carousel-item image-slide">
          <img src="/assets/leilayc3po.jpg" class="d-block w-100" alt="darth-vader" />
        </div>
        <div class="carousel-item image-slide">
          <img src="/assets/r2d2.jpeg" class="d-block w-100" alt="darth-vader" />
        </div>
        <div class="carousel-item image-slide">
          <img src="/assets/star1.jpeg" class="d-block w-100" alt="darth-vader" />
        </div>
        <div class="carousel-item image-slide">
          <img src="/assets/star2.jpeg" class="d-block w-100" alt="darth-vader" />
        </div>
        <div class="carousel-item image-slide">
          <img src="/assets/star5.jpeg" class="d-block w-100" alt="darth-vader" />
        </div>
        <div class="carousel-item image-slide">
          <img src="/assets/yoda.webp" class="d-block w-100" alt="darth-vader" />
        </div>
  
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#starWarsCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#starWarsCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
    </div>
 