<div class="container mt-5 mb-5">
  <div class="row d-flex align-items-center">
    <div
      *ngFor="let starship of starships()"
      class=" text-start pt-3 pb-3 border border-rounded card my-2 col-9 mx-auto"
    >
      <h4 class="fw-bold">{{ starship.name.toUpperCase() }}</h4>
      <h5 >{{ starship.model }}</h5>
    </div>
  </div>


  <div class="text-center my-3" *ngIf="!noMoreData()">
    <button class="btn-view-more m-4" [disabled]="isLoading()" (click)="loadMore()">
      {{ isLoading() ? 'Loading...' : 'View More' }}
    </button>
  </div>

 
  <div class="text-center my-3 " *ngIf="noMoreData()">
    <p class="custom-text mb-5">No more starships to show.</p>
  </div>
</div>
