<main class="galactic-background">
    <div id="starWarsCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="star-wars-opening">
            <div class="crawl">
              <p>Episode VII</p>
              <p>THE NEW HOPE</p>
  
              <p>It is a time of great opportunity.</p>
              <p>The galaxy of tech is expanding,</p>
              <p>
                and brave students from IT Academy embark on a journey to master
                the FORCE of coding.
              </p>
              <p>Guided by the mentors of knowledge</p>
              <p>they dive into the worlds of Angular,</p>
              <p>testing with Jest, and modern frameworks,</p>
              <p>facing the challenges of bugs and deployment.</p>
              <p>Their mission:</p>
              <p>to conquer the front-end universe.</p>
              <p>and restore balance to their Git repositories</p>
              <p>Will they succeed?</p>
              <p>Only time will tell...</p>
            </div>
          </div>
        </div>
  
        
        <div class="carousel-item">
          <img src="/assets/space1.jpg" class="d-block w-100" alt="Galaxia" />
        </div>
  
        
        <div class="carousel-item">
          <img
            src="/assets/space2.jpg"
            class="d-block w-100"
            alt="Espacio profundo"
          />
        </div>
      </div>
  
     
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#starWarsCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#starWarsCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </main>
  